html{
    height: auto;
    width:100%;

}
@media(min-width:600px){
    html{
    height: 100%;
    width:100%;

}
    
}

body{
    background-image: linear-gradient(to right bottom, #445a7a, #407293, #398ca6, #3aa5b4, #4dbeba);
    background-repeat: no-repeat;
    background-size: cover;
    
}
form{
    font-family: 'Lobster', cursive;
}
p{
    font-family: 'Lobster', cursive;
    font-size:20px;
    color: darkblue;
}
