<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Kirang+Haerang|Spicy+Rice" rel="stylesheet">
    <title>Slam Book</title>
</head>
<body>
   <div class="container">
       <div class="row">
           
       <div>    <p><span>Fill the the slambook for your friend <span class="user"> UserName</span></span></p> 
           
           <form>
               I look Like:<br>
                <input type="file"><br>
               My name is: <br>
               <input class="form-control form-control-sm"> <br>
               My sweet home: <br>
               <input class="form-control form-control-sm"><br>
               Ring me at: <br>
               <input type="number" class="form-control form-control-sm"> <br>
               I was born on : <br>
               <input class="form-control form-control-sm"> <br>
               I aspire to become : <br>
               <input class="form-control form-control-sm"> <br>
               I dream about: <br>
               <input class="form-control form-control-sm"> <br>
               My favorite sport: <br>
               <input class="form-control form-control-sm"> <br>
               What i am to you: <br> 
               <input class="form-control form-control-sm"> <br>
               I look cool in : <br> 
               <input class="form-control form-control-sm"> <br> 
               I like to eat : <br> 
               <input class="form-control form-control-sm"> <br> 
               Movies i like to watch : <br>
               <input class="form-control form-control-sm"> <br>
               Things i dislike in this world: <br>
               <input class="form-control form-control-sm"> <br>
               I go crazy about things like : <br> 
               <input class="form-control form-control-sm"> <br>
               My most wonderful moment : <br> 
               <input class="form-control form-control-sm"> <br>
               My favorite holiday would be with: <br>
               <input class="form-control form-control-sm"> <br>
               Friendship to me is : <br>
               <input class="form-control form-control-sm"> <br>
               My best moment with you : <br>    
               <input class="form-control form-control-sm"> <br>
               My hobbies : <br>
               <input class="form-control form-control-sm"> <br>
               One truth nobody knows is : <br> 
               <input class="form-control form-control-sm"> <br> 
               About you i feel : <br> 
               <input class="form-control form-control-sm"> <br> 
               Love i define it as : <br> 
               <input class="form-control form-control-sm"> <br> 
               Date : <br> 
               <input class="form-control form-control-sm" placeholder="DD/MM/YYYY"> <br>
               
               
               <input class="btn btn-primary okk" type="submit" value="Done!">
               
               
               
               
               
               
               
                
               
               
           </form>
           
           
           
           
           
           
           
       </div>
   </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
</body>

</html>